fastapi
uvicorn[standard]
gunicorn

pydantic
pydantic-settings
python-dotenv

sqlalchemy
alembic
asyncpg
psycopg2-binary

python-jose[cryptography]
passlib==1.7.4

requests
httpx
orjson

python-multipart
aiofiles

redis
celery

structlog
prometheus-client
psutil

jinja2
websockets
slowapi
bleach
tenacity

bcrypt==4.1.2
